<div class = 'container'>
  <h1>Find a Flat</h1>
  <% @flats.each do |f| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%=link_to f.name,flat_path(f)%></h2>
        <p><%= f.address %></p>
      </div>
    </div>
  <% end %>
</div>
