<div class="banner">
  <%= image_tag "hero_resort.jpg", class: "banner-image" %>
  <div class="container">
    <div class="banner-text">
      <h1>The ultimate place to book on instance</h1>
      <%= link_to "Find your flats", flats_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container d-flex mt-3">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h1>Quick Crash</h1>
        <h2>London SOHO</h2>
      </div>
    </div>
  </div>
<div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h1>Hot Crash</h1>
        <h2>London Camden</h2>
      </div>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h1>Easy Crash</h1>
        <h2>London Stratford</h2>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>


