<div class="banner">
  <%= image_tag "london.jpg", class: "banner-image" %>
  <div class="container">
    <div class="banner-text">
      <h1>The ultimate place to book on instance</h1>
      <%= link_to "Find your flats", flats_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>


<div class="footer"> Follow us on
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">

  </div>
</div>


